body {
    background-color:rgb(230, 225, 200);
    font-family: 'Inconsolata', monospace;
    text-align: center;
    margin: 0;
    padding: 2rem 0;
    width : 100%;
}
main {
    background-color:#f7f3e7;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.artObject {
    max-width: 80%;
    max-height: 20rem;
    margin: 1rem;
}
  h1 {
    margin: 3rem 1rem 6rem 1rem;
  }
